<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA1WEiVcCsNvEmEpsAy042w4C3uw0GuUH4</string>
	<key>GCM_SENDER_ID</key>
	<string>918477263203</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.radra.cashbackRewardsPointsMaximiser</string>
	<key>PROJECT_ID</key>
	<string>cashbackmax-d17de</string>
	<key>STORAGE_BUCKET</key>
	<string>cashbackmax-d17de.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:918477263203:ios:f42ef8983fc45c441b0356</string>
</dict>
</plist>